button.trusty_full_width_button {
	border: 1px solid white;
	background: transparent;
	font-family: Gotham_Pro_Medium;
	@include trusty_mobile_button_not_width;
}

.trusty_full_width_button_colored {
	background-color: #fff !important;
	color: black;
	font-family: Gotham_Pro_Medium;
	text-align: center;
    margin-top: 2vw;
    width: 100%;
    @include trusty_mobile_button_not_width;
}


.trusty_wide_btn {
	width: 99.9%;
	border: 1px solid white;
	background: transparent;
	font-family: Gotham_Pro;
	@media screen and (max-width: 768px) {
		@include trusty_mobile_button_not_width
	}

}

.trusty_inline_button{

	text-align: center;

	button {
		font-family: Gotham_Pro_Medium;
		display: inline-block;
		width: 70vw;
		margin: initial !important;
		background-color: #fff !important;
		color: black;
		@include trusty_mobile_button_not_width;

		&.wide {
			width: 92vw;
		}
	}
}

.trusty_inline_button_reverse{

	text-align: center;

	button {
		font-family: Gotham_Pro_Medium;
		display: inline-block;
		width: 70vw;
		margin: initial !important;
		@include trusty_mobile_button_not_width;

		&.wide {
			width: 92vw;
		}
	}
}

.trusty_inline_buttons {
	display: block !important;
	text-align: center;
	@include trusty_mobile_button_not_width;
	overflow: initial !important;
	
	&::after {
		display: block;
		clear: both;
	}

	div:nth-child(1) {
		float: left;
	}

	div:nth-child(2) {
		float: right;
	}

	div {
		display: inline-block;
		background-color: transparent !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding: 0 !important;
		line-height: 13vw;
		font-size: 4.8vw;
	}


	button, span {
		font-family: Gotham_Pro_Medium;
		display: inline-block;
		width: 44vw;
		margin: initial !important;
		//background-color: #fff !important;
		background-color: transparent !important;
		color: white !important;
		border: 1px solid white;
	}

	a:first-child {
		float: left;
		margin-left: 3.6vw;
	}

	a:last-child {
		float: right;
		margin-right: 3.6vw;
	}

	.b_left {
		float:right;
		margin-left: 0 !important;
	}
	.b_right {
		float: left;
		margin-right: 0 !important;
	}

	@media screen and (max-width: 768px) {
		button, span {
			@include trusty_mobile_button_not_width;
		}
	}
	@media screen and (min-width: 769px) {
		button {
			width: 200px;
		}
	}

}



