.trusty_wallet_create, .trusty_account_create {

	input {
		background-color: transparent !important;
		border-bottom: 1px solid white !important;
		border-radius: 0 !important;
	}
	.trusty_title {
		display: none;
	}

	form {
		span.tr_text {
			display: none;
		}
	}

}



@media screen and (max-width: 768px) {

	.trusty_account_create, .trusty_wallet_create {
		margin-top: 1.8vw;


	}
	
}
