.trusty_help_text {
	font-family: Gotham_Pro;
	text-align: center;
	margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
	.trusty_deposit {
		.trusty_wide_btn {
		    margin-bottom: 4.9vw;
		}
		.trusty_input_container {
		    margin-top: 2vw;
		    margin-bottom: 6vw;

		    input {
		    	padding-bottom: 1vw !important;
		    }
	  		.trusty_arrow_down {
			    option {
			    	background: black !important;
			    }
	  		}
	  	}

	  	.trusty_input_container {
				margin-bottom: 6vw !important;
	  	}	

	}

	._clipboard_value {
		margin-top: 2.3vw;
	    overflow: scroll;
	    span {
	         display: table-cell;
	         padding-right: 10px;
		}
	}
	.trusty_help_text {
	    font-size: 4.8vw;
	    line-height: 6vw;
	    margin-bottom: 4.1vw;
	}

	.trusty_cutted_address {
		text-align: center;
		font-family: Gotham_Pro;
		font-size: 6vw;
		line-height: 7vw;
		margin-bottom: 4.1vw;
	}

	#resizing_select {
	    width: 17vw;
	    margin-right: 5vw !important;
	    height: 10vw;
	    bottom: 0.6vw;
    	padding-bottom: 0vw !important;
    	position: relative;
	} 

}

 
#width_tmp_select{
 	display: none;
} 