@media screen and (max-width: 768px) {

	.trusty_input_container {

		.t_input input {
			padding-top: 3.37vw;
		}

		select {
			background-image: none;
			background-color: transparent;
			width: 28vw;
		}
	}
	
	.trusty_deposit_and_withdraw {

		.trusty_withdraw_wrap {
			padding: 0 4vw;
			margin-top: 1.9vw;
		}

		.modal-overlay.is-active {
			top: 24.6vw !important;
		}

		#withdraw_asset_blocktrades_bridge {
			background: transparent !important;
			padding: 0 4vw;



			
			.grid-block.vertical {
				margin-top: -1.1vw !important
			}

			.trusty_inline_buttons div {
				margin-top: 4vw;
			}

			.trusty_help_text  {
				margin-bottom: 0;
			}

		}

		.close-button {
			display: none;
		}
		.modal-overlay.is-active {
			background-color: transparent !important;
		}


	}


}





.trusty_deposit_and_withdraw {




	.content-block {
		margin-bottom: 0;

	}

	.trusty_help_text:first-child {
		margin-bottom: 3vw;
	} 
}

.trusty_deposit_address {
	display: inline-block;
	margin-bottom: get-vw(8px);
}

.trusty_deposit {
	@media screen and (max-width: 750px){
		padding: 0 3.6vw;
		._bottom {
			margin-bottom: 2.8vw !important;
		}
	}

}

.trusty_ps_text {

	font-family: Gotham_Pro;
  text-align: center;

  @media screen and (max-width: 750px) {
		font-size: 3.3vw;
	  margin: 3.8vw 0;
	  line-height: 4.3vw;
  }
}

.trusty_deposit_input {
	position: relative;
}






