@mixin column_trusty_inputs {
  .trusty_input_container:not(.text_area) {
    margin-bottom: 2vw;
    position: relative;
    height: 10.7vw;;
    .w_input {
      position: absolute;
      width: 100%;
      bottom:0;
    }
  }
}


@media screen and (max-width: 768px) {
  @include column_trusty_inputs;
  
  .trusty_input_container.text_area {
    //margin-bottom: 4.5vw;
    textarea {
      padding-top: 6vw;

    }
    .t_input {
      height: 6vw;
      transition: all .2s;
    }

    &.opened_text_area {
      label {
        top: 1vw;
      }
      .t_input {
        height: 28vw !important;
      }
    }
  }
  

  .trusty_input_container {
    width: 100%;
    .t_input {
      margin-top: 6vw;
    }

    .trusty_place_holder {
      position: absolute;
      left: 0;
      bottom: 6.8vw;    
    }

    .trusty_place_holder.no_opened {
      width: 100%;
      font-family: Gotham_Pro_Regular;
      text-transform: uppercase;
      color: white !important;
      letter-spacing: .23vw !important;
      font-size: 4vw !important;
      letter-spacing: .4vw;
      bottom: 1.7vw;
      color: white;
    }

    label {
      color: #757777;
      transition: all .2s;
      font-size: 3.5vw;
      margin-bottom: 0 !important;
    }

    select, .dropdown-wrapper div {
      font-size: 6.5vw !important;
      color: white;
    }

    .dropdown-wrapper div {
      padding-right: 0vw !important;
      padding-bottom: 1vw;
    }


    .dropdown-wrapper {
      padding-left:0;
      padding-top:0;
      padding-right:0;
      padding-bottom:0;

    }

    input {
      font-size: 5.4vw !important;
      height: 6.4vw;
      font-family: "Gotham_Pro_Regular";
    }

    .trusty_input_close {
      padding-bottom: 6vw;
    }
     
    textarea {
      padding-left: 0;
    }


  }

}


.trusty_deposit_input, 
.trusty_input_container {

  .w_input {
    position: relative;
  }


  .t_right{
    display: inline-block;
    position: absolute;
    bottom:0;
    right:0;
    span {
      display: inline-block;
      color: white;
      font-family: 'Gotham_Pro'
    }
  }
  

  .dropdown-wrapper div {
    margin: 0 0  !important; 
    font-family: 'Gotham_Pro_Regular';
    color: white !important;
  }
  
  .trusty_arrow_down {
    position: absolute;
    right: 0;
    top: 42%;
    
  }
  
  select {
    margin: 0 0  !important;
    border: none !important; 
    font-family: 'Gotham_Pro_Medium';
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    color: white;
    option {
      background-color: black;
    }
  }
  
  .t_input.active_input {
    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }

  .t_input{
    width: 100%;
    border-bottom: 1px solid #757777;
    input {
      background-color: transparent !important;
      width: 100% !important;
      margin: 0 !important;
      border-radius: 0 !important;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: none !important;
      border-bottom-width: 0px !important;
      outline: none !important;
      padding-bottom: 2px;
      padding-left: 0;
      padding-top: 0 !important;
    }

    input::placeholder {
      font-family: Gotham_Pro_Regular;
      text-transform: uppercase;
      color: white !important;

      @media screen and (max-width: 750px) {
        letter-spacing: .23vw !important;
        font-size: 4vw !important;
        letter-spacing: .4vw;
      }

    }
    input:focus, input:hover {
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid white;
      outline: none !important;
    }
    textarea:hover, textarea:active, textarea:focus, textarea {
      background-color: transparent !important;
      border-radius: 0 !important;
    }
  }
}




//Fade in animation

.example-enter {
  opacity: 0.01;
  width: 0px;
}

.example-enter.example-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.example-leave {
  opacity: 1;
  width: 100px;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}