@import "../mixins.scss";


$title_font: 4vh;//1.45rem;
$land_padding: 5vw;
$arrow_size: 9.8vh;




.trusty_arrow_down {
	position: absolute;
	display:inline-block;
	
	width: $arrow_size;
	height: $arrow_size;
	left: 50%;
	bottom: 0;
	margin-bottom: 0%;
	span, svg {
		width: $arrow_size !important;
		height: $arrow_size !important;
		display: inline-block;
	}

	span {
		transform: scale(0.6, -0.6) rotate(-90deg) translateY(-69%);//rotate(90deg) translateY(50%) scale(90%);
	}

}

.balls_nav {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	span {
		display: inline-block;
		width: 2vh;
		height: 2vh;
		margin: 3vw 3vw;
		border-radius: 50%;
		border: 2px solid white;
	}
}


#landing {

	.wrap_img_profile {
		width: 30vw;
	}

	
	button {
		font-family: Gotham_Pro;
		background: transparent;
		border-radius: 10px;
		margin-top: 10px;
		height: 10vh;
		border: 2px solid white;
		font-size: 6vw;
	}

	.fixed_bottom {
		position: absolute;
		bottom: 0;
		width: 90%;
		button {
			margin-bottom: 9.8vh;
			font-family: Gotham_Pro_Bold;

		}
	}
	p {
		font-family: Gotham_Pro_Bold;
		font-size: 6.3vw;
		line-height: 4.2vh;
		text-align: center;
	}
	.bottom_content {
	 	height: 63vh;
	 	display: flex;
	 	flex-direction: column;
	 	
	 	background: url(trusty/img_owl_opacity.png) no-repeat center;
		background-size: 50%;
		background-poisition: 100% -100%;
	 	._slogan {

			font-size: 8.1vw;
			margin-bottom: 12px;


	 	}
	 	._description {
			font-family: Gotham_Pro;
			font-size: 6.4vw;
			line-height: 8.13vw;


	 	}

	 	@media screen and (max-width: 750px){
	 		justify-content: center;
	 	}
	}

	.top_buttons {
		//transform: translateY(1.5vh);
		height: 15vh;
		text-align: center;
		a { 
			color: white;
			display: inline-block;
			width: 30vw;
		}
		span {
			text-transform: uppercase;
			display: inline-block;
			font-family: Gotham_Pro_Regular;

			text-align: center;
			height: 15vh;
			line-height: 12vh;
		}
	}

	.last_text {
		padding-top:5vh;
		background: url(trusty/img_owl_opacity.png) no-repeat center;
		background-size: 60%;
		background-poisition: 100% -100%;
		p {
			display: block;
			margin-bottom: 0;
			margin: 3vh 0;
		}
		button {
			display: block;
			font-family: Gotham_Pro_Bold;
		}
	}
}

.bottom_info {
	padding-top:5vh;
	background: rgba(0,0,0,0.17);
	section {
		font-family: Gotham_Pro;
		font-size: 2.3vh;
		text-align: center;
		padding: 0 5vw;
	}

	section:last-child {
		padding: 4vh 5vw;
	}
}

.logo_starter {
	height: 100vh;
	svg {
		fill: white;//#e6e6e6;
	}
	._logo_text {

		margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom:  5.3vh;
		width: 70.1vw;

	}

	._logo {
		//margin: 5.3vh auto 5.3vh auto;
		margin: 0 auto 0 auto;
		//width: 48.1vw;
		width: 30vh;
	}
}

br.desk {
	display: none;
}

@media screen and (min-width: 750px) { 
		br.mob {
			display: none;		
		}

		br.desk {
			display: inline-block;
		}
		._body {
			padding: 0 !important;
		}
}




.land_slide {
	position: relative;
	height: 100vh;
	text-align: center;
	font-family: Gotham_Pro;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&.sl_id-1 {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		.text_area {
			padding-bottom: 10vh;
		}

		h1 {
			margin-bottom: -4.6vh;
		}
	}
	.image_area {
		margin-bottom: 2.5vh;
		img {
			width: 70vw;
		}
	}
	
	h1 {
		font-family: Gotham_Pro_Bold;
		font-size: 6.4vw;
		line-height: 4.8vh;

	}

	._body {
		font-size: 5vw;//20px 
		line-height: 3.5vh;
		padding: 0;
	}

}

// D E S K T O P

@media screen and (min-width: 769px) { 

	.bottom_content {
		height: 100% !important;
		flex-direction: row !important;
		align-items: center;
		justify-content: center;
	}

	.wrap_img_profile {
		height: 70vh;
		img {
			height: 100%;
			display: inline-block;
			float: right;
		}
	} 

	._desk_right {
		width: 350px;
		._logo {
			width: 12vw;
			margin: 0;
		}
		._logo_text {
			width: 26vw;
			margin: 0;
			svg {
				display: inline-block;
				margin: 0 auto;
			}
		}
		._slogan {
			font-size: 3.4vw;
		}
		._description {
			font-size: 1.4vw;
		}
	}
	.bottom_info {
		padding-left: 10vw;
		padding-right: 10vw;

	}
	.last_text {
		height: initial !important;
		padding-left: 19vw;
		padding-right: 19vw;
		padding-top: 12vh !important;
		padding-bottom: 12vh !important;
		background-size: 400px !important;
		text-align: center;
	}




	
	._logo._mob, 
	._logo_text._mob {
		display: none;
	}


	.land_slide {
		display: flex;
		flex-direction: row-reverse;
		width: 100vw;
		//justify-content: center;
		.image_area, .text_area {
			width: 34vw;
			height: 45vh;
		}
		.text_area {
			text-align: left;
			padding: 14vh 0 0 0;
			margin-bottom: .4vh
		}
		img {
			max-width: 350px !important;
		}

	}
	.trusty_arrow_down {
		display: none;
	}
}
// M O B I L E
@media screen and (max-width: 768px) {

	.last_text {
		justify-content: center;
		display: flex;
		flex-direction: column;
	}
	._logo._desk, 
	._logo_text._desk {
		display: none;
	}

	#landing {
		padding: 0 $land_padding 2vh $land_padding;

		button {
				height: 16vw;
				width: 81vw;
				display:block;
				margin: 0 auto;
				border-radius: 6px;
		}
	}
	.land_slide {
		&.sl_id-1 {
			img {
				width: 90vw !important;
			}
		}
		&.sl_id-2 {
			img {
				width: 66vw !important;
			}
		}

		&.sl_id-4 {
			img {
				width: 82vw !important;
			}
		}

		&.sl_id-5 {
			.image_area { margin-bottom: .5vh; }
			img {
				width: 80vw !important;
			}
		}
	}
}









