HTML {
  background-repeat: no-repeat;
  background-position:  50% 0px;
  /* По умолчанию показывается мобильный макет */
  background-image: url( "../screens/trusty_fund.png" );
  background-size: 100%;
}
/* Планшет */
@media ( max-width: 768px ) {
  HTML {
    /* Планшетный макет */
    //background-image: url( "../screens/profile.png");
    //background-image: url( "../screens/deposit.png");
    //background-image: url( "../screens/trusty_fund.png" );

    //background-image: url( "../screens/trusty_fund.png" );
    //background-image: url("../screens/login.png")
    //background-image: url("../screens/signup.png")
    background-image: url("../screens/terms.png")
    //background-image: url( "../screens/payment_method_user_profile_perfect.png" );
    //background-image: url( "../screens/payment_method_deposit_details_v2.png" );
    //background-image: url( "../screens/new_account_terms.png");
    //background-image: url( "../screens/new_account_signup.png");
    //background-image: url( "../screens/existing_account_login.png");
  }
}
/* Десктоп */
@media ( min-width: 769px ) {
  HTML {
    /* Десктопный макет */
    //background-image: url( "img/960.png" );
  }
}


//disable fixed background
.trusty_fixed_background {
  display: none !important;
}

.trusty-wrapper, .trusty-wrapper .grid-block {
  @media screen and (max-width: 750px) {
    background-image: url(../texture_mob_bgr.png);
    background-repeat: repeat;
    background-size: 125%;
  }

  @media screen and (min-width: 751px) {
    background-image: url(../pattern.png);
    background-repeat: repeat;
    background-size: 42px;
  }
}