.tab-link {
	width: 33.33333%;
	float: left;
	text-align: center;
}

.tabs-container:after {
  content: "";
  display: table;
  clear: both;
}

.tabs-header-container{
	border-bottom: 1px solid white;
	height: 25px;
}

.tabs-content-container{
	padding-top: 15px;
}

.tab-link-active{
	border-bottom: 3px solid white;
}

.tab-link{
	height: 100%;
}

.managePortfolio{
	width: 100%;
}

.managePortfolio td{
	text-align: center;
}

.managePortfolio tr{
	height: 30px;
	padding-top: 10px;
}

.bottomBlock{
	position: absolute;
	bottom: 0;
	padding-bottom: 20px;
}

.trusty_inline_button{
	text-align: center;

	button {
		font-family: Gotham_Pro_Medium;
		display: inline-block;
		width: 70vw;
		margin: initial !important;
		background-color: #fff !important;
		height: 50px;
		color: black;
	}
}