@import "components/landing";
@import "components/create-account";
@import "components/account-page";
@import "components/profile";
@import "components/deposit_details";
@import "components/deposit-withdraw";
@import "components/input";
@import "components/login-signup";
@import "components/terms";



* {  
	-webkit-backface-visibility:  hidden;
  -webkit-tap-highlight-color:  transparent;
}


.trusty_owl_loader {

	width: 60%;
	opacity: .6;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	svg {
		fill: white;

	}
}


$white_color: #e6e6e6;
$background_color: #1b1f22;

@media screen and (max-width: 750px) {
  *._desk, {display:none !important;}
}

@media screen and (min-width: 751px) {
	*._mob{display:none !important;}
}

*._yellow {
	color: #fdf101;
}

.trusty_fixed_background {
	position: fixed;
	top:0;
	left:0;
	z-index: -1;
}

//<img src={ require("assets/stylesheets/trusty/texture_mob_bgr.png")} className="trusty_fixed_background _mob"/>
button:focus, button:active {
	outline: none;
}
.trusty-wrapper, .trusty-wrapper .grid-block {
	background-color: transparent !important;
	@media screen and (max-width: 750px) {
		// background-image: url(./trusty/texture_mob_bgr.png);
		// background-repeat: repeat;
		// background-size: 125%;
	}
	@media screen and (min-width: 751px) {
		background-image: url(./trusty/pattern.png);
		background-repeat: repeat;
		background-size: 42px;
	}
}


.trusty_title {
	font-size: 1.7rem;

}

.trusty_center {
	padding: 0 3.9vw;
	form {
		display: block;
		margin: 0 auto;
	}
}

@font-face {
  font-family: 'Gotham_Pro_Bold';
  src: url('trusty/fonts/GothamProBold/GothamProBold.woff');
  // src:	url('trusty/fonts/GothamProBold/GothamProBold.ttf') format('truetype'),
  // 			url('trusty/fonts/GothamProBold/GothamProBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham_Pro';
  src: url('trusty/fonts/GothamProLight/GothamProLight.woff');
  // src:	url('trusty/fonts/GothamProLight/GothamProLight.ttf') format('truetype'),
  // 			url('trusty/fonts/GothamProLight/GothamProLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham_Pro_Medium';
  src: url('trusty/fonts/GothamProMedium/GothamProMedium.woff');
  // src:	url('trusty/fonts/GothamProLight/GothamProLight.ttf') format('truetype'),
  // 			url('trusty/fonts/GothamProLight/GothamProLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham_Pro_Regular';
  src: url('trusty/fonts/GothamProRegular/GothamProRegular.woff');
  // src:	url('trusty/fonts/GothamProLight/GothamProLight.ttf') format('truetype'),
  // 			url('trusty/fonts/GothamProLight/GothamProLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


br.desk {
	display: none;
}


@media screen and (min-width: 750px) {

		br.mob {
		display: none;		
	}

	br.desk {
		display: inline-block;
	}

}

$header_size: 12vw;
.trusty_header {
	position: relative;
	height: $header_size;
	//border-bottom: 1px solid $white_color;
	.header_title {
		display: block;
		text-align: center;
		font-family: Gotham_Pro_Regular;
		text-transform: uppercase;
		line-height: $header_size;
		@media screen and (max-width: 750px){
			font-size: 4.8vw;
		}

	}
	a {
		position: absolute;
		top:0;
		left:0;
		display: inline-block;
		width: 12vw !important;
    height: 12vw !important;
	}
	@media screen and (min-width: 750px) {
		.header_title {
			font-size: 32px;
		}
	}
}


.trusty_arrow_back {
	position: absolute !important;
	width: 12vw !important;
	height: 12vw !important;
	line-height: 13.5vw;
	top: .4vw !important;
  left: -.2vw !important;
	text-align: center;
	svg {
		display: inline-block;
		height: 45% !important;
	}
}

.trusty_options {

	svg {
		display: inline-block;
		height: 40% !important;
		width: 40% !important;
	}

}


.trusty_header_logo {
	svg { 
		fill: $white_color; 
	}
	@media screen and (min-width: 751px) {
		width: 200px;
	}
}

.trusty_header_arrow {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	transform: scale(-1, 1);
	height: $header_size;
	width: $header_size;
	background: transparent;
	outline: none;
	border: none;
	svg {
		fill: #ffffff;
	}

}


.trusty_full_width_button {

	border: 1px solid white;
	text-transform: uppercase;
	background: transparent;
	font-family: Gotham_Pro;

}


.trusty_wide_btn {
	width: 100%;
	height: 50px;
	border-radius: 3px;
	border: 1px solid white;
	text-transform: uppercase;
	background: transparent;
	font-family: Gotham_Pro;

	@media screen and (max-width: 750px) {
		font-size: 4.7vw;
	}

}

.trusty_inline_buttons {
	
	text-align: center;

	button {
		font-family: Gotham_Pro_Medium;
		display: inline-block;
		width: 44vw;
		margin: initial !important;
		background-color: #fff !important;
		height: 50px;
		color: black;
	}

	.b_left {
		margin-right: 7px;
	}
	.b_right {
		margin-left: 7px;
	}

	@media screen and (max-width: 750px) {
		button {
			font-size: 4.8vw;
		}

	}
	@media screen and (min-width: 751px) {
		button {
			width: 200px;
		}
	}

}



