@import "components/landing";

$white_color: #e6e6e6;
$background_color: #1b1f22;

@media screen and (max-width: 768px) {
  *._desk{display:none}
}

@media screen and (min-width: 769px) {
	*._mob{display:none}
}
.trusty-wrapper, .trusty-wrapper .grid-block {
	background-color: $background-color !important;
	background-image: url(./trusty/pattern.png);
	background-repeat: repeat;
	background-size: 42px;
}

.grid-block {
	//background-color: #171A1D;
}

.trusty_form_buttons {
	text-align: center;
	button {
		font-size: 1.3rem;
	  margin-bottom: 10px !important;
	  font-weight: bold;
	  padding-left: 0;
	  padding-right: 0;
	}

	@media screen and (max-width: 1256px) {
		button {
			color: #2a2a2a;
			width: 100%;
			background: white !important;
		}
		
	}
}

.trusty_title {
	font-size: 1.7rem;

}

.trusty_center {
	padding: 0 10px;
	form {
		display: block;
		margin: 0 auto;
	}
}

@font-face {
  font-family: 'Gotham_Pro_Bold';
  src: url('trusty/fonts/GothamProBold/GothamProBold.woff');
  // src:	url('trusty/fonts/GothamProBold/GothamProBold.ttf') format('truetype'),
  // 			url('trusty/fonts/GothamProBold/GothamProBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham_Pro';
  src: url('trusty/fonts/GothamProLight/GothamProLight.woff');
  // src:	url('trusty/fonts/GothamProLight/GothamProLight.ttf') format('truetype'),
  // 			url('trusty/fonts/GothamProLight/GothamProLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


br.desk {
	display: none;
}


@media screen and (min-width: 750px) {

		br.mob {
		display: none;		
	}

	br.desk {
		display: inline-block;
	}

}

$header_size: 50px;
.trusty_header {
	position: relative;
	height: $header_size;
	border-bottom: 1px solid $white_color;
	.header_title {
		display: block;
		text-align: center;
		font-family: Gotham_Pro;
		font-size: 24px;
		text-transform: uppercase;
		line-height: $header_size;

	}
}


.trusty_arrow_back {
	position: absolute !important;
	width: $header_size !important;
	height: $header_size !important;
	line-height: 60px;
	top: 0 !important;
	left: 0 !important;
	text-align: center;
	svg {
		display: inline-block;
		height: 45% !important;
	}
}

.trusty_options{
	position: absolute !important;
	width: $header_size !important;
	height: $header_size !important;
	line-height: 60px;
	top: 0 !important;
	right: 0 !important;
	text-align: center;
	svg {
		display: inline-block;
		height: 40% !important;
		width: 40% !important;
	}
}


.trusty_header_logo {
	line-height: 53px;
	width: 50vw;
	height: $header_size;
	padding-left: 15px;

	svg { 
		fill: $white_color; 
	}
	@media screen and (min-width: 751px) {
		width: 200px;
	}
}

.trusty_header_arrow {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	transform: scale(-1, 1);
	height: $header_size;
	width: $header_size;
	background: transparent;
	outline: none;
	border: none;
	svg {
		fill: #ffffff;
	}

}

.trusty_inline_buttons {

	text-align: center;
	button {
		font-family: Gotham_Pro_Bold;
		display: inline-block;
		width: 43vw;
		margin: initial !important;
		height: 50px;
		color: black;
	}

	@media screen and (min-width: 751px) {
		button {
			width: 200px;
		}
	}
}


.trusty_table {
	thead, th, tr, tbody {
		border: none !important;
		background-color: transparent !important;
	}

}

.trusty_total_funds {
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 20px;
}
